
h1,h2,h3{
    color:white;
}

.endgame{
    background-color: white;
}

body
{
    text-align: center;
    background-color: #191f36;
}
.btn
{
    height:150px;
    width:150px;
    border-radius:20%;
    margin:1rem;
}
.btn-container
{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
.yellow
{
    background-color: #00BCF6;
}
.red
{
    background-color: #F6B3D9;
}
.green
{
    background-color: #9CFFA5;
}
.purple
{
    background-color: #F9F871;
}
.flash
{
    background-color: white;
}
.userflash
{
    background-color: #191f36;
}